html {
    background-color: #e8ded9;
}
.bgimg {
    background-image: url("img/code.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

@media only screen and (max-width: 768px) {
    .bgimg{
        background-image: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: auto;
    width: auto;
    grid-template-areas:
        "header header header header"
        "left middle middle right";
    margin-left: auto;
    margin-right: auto;
}

nav {
    grid-area: middle;

}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

nav ul li {
    display: inline-block;
    width: auto;
    font-weight: 300;
    letter-spacing: 1px;
}

nav ul li a {
    color: #5b8c6f;
    text-decoration: none;
    font-weight: 300;
}

.button  {
    display: inline-block;
    background-color: #61c386;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 12px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
}

.button:hover {
    background-color: #f7e966;
    border-radius: 10px;
    color: #5b8c6f;
    padding: 12px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
}

.header {
    grid-area: left;
    display: flex;
    flex-direction: row;
    font-weight: 400;
}

h1 {
    color: #000000;
}

b {
    color: #61c386;
}

.left {
    grid-area: left;
    margin-top: 50%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    height: 150px;
    font-weight: 600;
}

b2 {
    color: #61c386;
}

h3 {
    color: #61c386;
    font-weight: 300;
}

.button2  {
    display: inline-block;
    width: auto;
    background-color: #61c386;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 12px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
}

.button2:hover {
    background-color: #f7e966;
    border-radius: 10px;
    color: #5b8c6f;
    padding: 12px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
}

